@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredericka the Great', cursive;
  background-color: #000;
}

