@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --twitch: #9146ff;
  --github: #181717;
  --discord: #5865f2;
  --youtube: #ff0000;
  --tailwind: #38b2ac;
  --javascript: #f7df1e;
  --postgres: #336791;
  --code: #ff4500;
  --dark-orange: #491401;
  --dark-teal: #012222;
  --dark: #111;
}

.container {
  background-color: var(--dark);
  height: 100vh;
  display: grid;
  place-items: center;
}

.gallery {
  width: clamp(30rem, 90%, 130rem);
  aspect-ratio: 16 / 9;
  background-image: linear-gradient(
    95.2deg, 
    var(--dark-orange) 26.8%,
    var(--dark-teal) 64%
  );
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.box {
  position: relative;
  cursor: pointer;
}

.box-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: var(--twitch)
}